doctype html
html
  head
    block head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")

      link(href="https://fonts.googleapis.com/css?family=Lato:300,300i,700" rel="stylesheet")
      link(rel="stylesheet" href="/css/style.css")
      link(rel="shortcut icon" type="image/png" href="/img/favicon.png")
      script(defer src="/js/bundle.js")
      title Travistance | #{title}
  
  body(data-alert=`${alert ? alert : ''}`)
    //1) HEADER
    include _header
    

    //2) MAIN SECTION
    block content
      h1 This is the placeholder text of base template


    //3) FOOTER
    include _footer


